* {
  box-sizing: border-box;
}
body {
  background: #e5e5e5;
  text-align: center;
}
.cards li {
  list-style: none;
  display: inline-block;
  width: 30%;
  vertical-align: middle;
  margin-left: -4px;
}
.container-card {
  width: 200px;
  margin: 20px 30px;
  padding: 0 15px;
  background: #e0e0e0;
  color: #000000;
  text-align: center;
}
.container-card h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  padding: 10px 0;
}
.container-card span {
  display: block;
  padding-bottom: 15px;
}
